@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <h3>BlazorAppSystem</h3>
    </MudAppBar>
    <MudMainContent>
        <MudContainer>
                @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>